!.gitkeep
.vscode
shiki*.img
shiki*.vmdk
*.zip
.buildroot
test*.sh
docker/syno-compiler/Dockerfile
cache
*.bak
*.o
# /files/board/shiki/p3/addons
# /files/board/shiki/p3/lkms
# /files/board/shiki/p3/modules
/tests
.DS_Store
